.container {
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.inner-container {
    width: 85%;
    margin: 1rem auto;
}

.overlay {
    background: rgba(49,49,49,0.8);
}