.both-container {
    position: absolute;
    max-width: 500px;
    bottom: 2rem;
    margin-left: 2rem
}

.titles-style {
    color: white;
}

.paragraphs-style {
    color: white;
    font-size: 1rem
}